<div id="Content-Wrapper" class="container d-flex justify-content-center pt-5 pb-5 mb-5">

    <div id="Content" class="w-50">

        <!-- Neues Element anlegen -->
        <div class="headline d-flex align-items-center gap-3">
            <h3>Element anlegen</h3>
        </div>
        <div class="newElement d-flex justify-content-between gap-2 mt-3">
            <input id="InputNewElement" type="text" class="form-control fs-5" placeholder="z.B. Haferflocken" (input)="handleInput($event, 'name')" (keydown.enter)="createElement()">
            <button (click)="createElement()" class="btn border px-3" style="background:#0d6efd; color:#fff;"><i class="bi bi-plus-lg"></i></button>
        </div>

        <hr class="mt-5 mb-5" style="color:#999999;">

        <!-- Offene Elemente -->
        <div class="headline d-flex align-items-center gap-3">
            <h3>Zu erledigen</h3>
            <h4><span class="badge bg-light text-secondary">{{elements_open.length}}</span></h4>
        </div>
        <ul *ngFor="let element of elements_open" class="list-group mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-center gap-3 py-3 px-4">
                <div class="d-flex align-items-center gap-3">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" style="transform: scale(1.5);" (change)="updateElement(element.id, $event)">
                    <label class="form-check-label fs-5" for="firstCheckbox">{{element.Name}}</label>
                </div>
                <i (click)="deleteElement(element.id)" class="bi bi-trash3 text-danger" style="cursor:pointer;"></i>
            </li>
        </ul>
        <div *ngIf="elements_open.length === 0" class="alert alert-light mt-3" role="alert">Keine Elemente vorhanden.</div> <!-- Info, wenn keine Elemente existieren -->

        <!-- Abgeschlossene Elemente -->
        <div class="headline d-flex align-items-center gap-3 mt-5">
            <h3>Erledigt</h3>
            <h4><span class="badge bg-light text-secondary">{{elements_closed.length}}</span></h4>
        </div>
        <ul *ngFor="let element of elements_closed" class="list-group mt-3">
            <li class="list-group-item d-flex justify-content-between align-items-center gap-3 py-3 px-4 element-closed">
                <div class="d-flex align-items-center gap-3">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" style="transform: scale(1.5);" checked (change)="updateElement(element.id, $event)">
                    <div class="d-flex flex-column">
                        <label class="form-check-label fs-5" for="firstCheckbox">{{element.Name}}</label>
                        <span class="opacity-50">Erledit am: {{element.last_change}}</span>
                    </div>
                </div>
                <i (click)="deleteElement(element.id)" class="bi bi-trash3 text-danger"></i>
            </li>
        </ul>
        <div *ngIf="elements_closed.length === 0" class="alert alert-light mt-3" role="alert">Keine Elemente vorhanden.</div> <!-- Info, wenn keine Elemente existieren -->

    </div>

</div>