<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- <title>Einkaufsliste</title> -->


    </head>

    <body>
        <div id="content">
        <h1>Einkaufsliste</h1>
        <br>
            <div id="addElements">
                <form>
                    <input type="text" name="newElement" placeholder="Neues Element hinzufügen">
                    <input type="submit" value="submit">
                </form>
                
            </div>
            <br>
            <div id="list">
                <ul>
                    <!-- <li> -->
                        <div><label><input type="checkbox">Das ist ein Test</label></div>
                        <!-- <div><label id="listElement">Element</label></div> -->
                    <!-- </li> -->
                </ul>
                
            </div>

        </div>
    </body>
</html>

    <!-- <p>home works!</p> -->