.element-closed {
    background: #f1f1f1;
    color: #868686;
}

.element-closed i {
    cursor: pointer;
}

::placeholder {
    opacity: 0.5; 
}


@media only screen and (max-width: 1023px) {
    #Content {
        width: 80% !important;
    }
}
@media only screen and (max-width: 600px) {
    .headline {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
}